/* Fonts */
@font-face {
  font-family: "SFPro";
  src: url("fonts/SFPro/SF-Pro-Text-Regular.otf");
}
@font-face {
  font-family: "SFCompact";
  src: url("fonts/SFCompact/SF-Compact.ttf");
}
@font-face {
  font-family: "NY";
  src: url("fonts/NewYork/NewYork.ttf");
}
@font-face {
  font-family: "SFMono";
  src: url("fonts/SFMono/SF-Mono.ttf");
}
@font-face {
  font-family: "MarketDeco";
  src: url("fonts/market_deco/Market_Deco.ttf");
}
/* 
.loader_circle {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  visibility: hidden;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

/* Misc. */
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "SFPro", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: "SFMono", Menlo, Monaco, Consolas, "Courier New", monospace;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
p,
code {
  color: #000;
}
.mono-field {
  font-family: "SFMono", Menlo, Monaco, Consolas, "Courier New", monospace;

  width: 2rem;
  text-align: center;
}
.name-field {
  width: 6rem;
  text-align: left;
}